In [ ]:
import pandas as pd

In [ ]:
# Adding gender population
dataframe = pd.read_excel("/content/Global Terrorism Index 2023.xlsx")
dataframe_gender = pd.read_csv("/content/share-population-female.csv")
print(dataframe_gender.head())
dataframe_gender.rename(columns={'Entity': 'Country'}, inplace=True)
dataframe = dataframe.merge(dataframe_gender, on=['Country', 'Year'], how='left')
dataframe = dataframe.drop(columns=['Code'])

        Entity Code  Year  Population, female (% of total population)
0  Afghanistan  AFG  1960                                   48.083054
1  Afghanistan  AFG  1961                                   48.165000
2  Afghanistan  AFG  1962                                   48.242370
3  Afghanistan  AFG  1963                                   48.315890
4  Afghanistan  AFG  1964                                   48.385273

In [ ]:
# Added Corruption Index
dataframe_corruption = pd.read_csv("/content/TI-corruption-perception-index.csv")
print(dataframe_corruption.head())
dataframe_corruption.rename(columns={'Entity': 'Country'}, inplace=True)
dataframe = dataframe.merge(dataframe_corruption, on=['Country', 'Year'], how='left')
dataframe = dataframe.drop(columns=['Code'])

        Entity Code  Year  \
0  Afghanistan  AFG  2012
1  Afghanistan  AFG  2013
2  Afghanistan  AFG  2014
3  Afghanistan  AFG  2015
4  Afghanistan  AFG  2016

   Corruption Perception Index - Transparency International (2018)
0                                                  8
1                                                  8
2                                                 12
3                                                 11
4                                                 15

In [ ]:
#Adding migration information
dataframe_migration = pd.read_csv("/content/migration.csv")
dataframe_migration = dataframe_migration[["Year", "Country", "Net migration rate"]]
print(dataframe_migration.head())
dataframe = dataframe.merge(dataframe_migration, on=['Country', 'Year'], how='left')

   Year                     Country  Net migration rate
0  1955   Central and Southern Asia               0.197
1  1960   Central and Southern Asia               0.275
2  1965   Central and Southern Asia               0.176
3  1970   Central and Southern Asia               0.022
4  1975   Central and Southern Asia              -0.285

In [ ]:
# Armed Forced Shared Population = Armed forces population /  Total population
# Nuclear Weapon status = Number of weapons
dataframe_armedforces = pd.read_csv("/content/armed-forces-personnel-percent.csv")
print(dataframe_armedforces.head())
dataframe_armedforces.rename(columns={'Entity': 'Country'}, inplace=True)
dataframe_armedforces = dataframe_armedforces[["Country","Year","armed_forces_share_population"]]
dataframe = dataframe.merge(dataframe_armedforces, on=['Country', 'Year'], how='left')

        Entity Code  Year  armed_forces_share_population
0  Afghanistan  AFG  1985                       0.393694
1  Afghanistan  AFG  1989                       0.463397
2  Afghanistan  AFG  1990                       0.467278
3  Afghanistan  AFG  1991                       0.338371
4  Afghanistan  AFG  1992                       0.310655

In [ ]:
dataframe_nuclearweapons = pd.read_csv("/content/country-position-nuclear-weapons.csv")
print(dataframe_nuclearweapons.head())
dataframe_nuclearweapons.rename(columns={'Entity': 'Country'}, inplace=True)
dataframe_nuclearweapons = dataframe_nuclearweapons[["Country","Year","nuclear_weapons_status"]]
dataframe = dataframe.merge(dataframe_nuclearweapons, on=['Country', 'Year'], how='left')

     Entity      Code  Year  nuclear_weapons_status
0  Abkhazia  OWID_ABK  1938                       0
1  Abkhazia  OWID_ABK  1939                       0
2  Abkhazia  OWID_ABK  1940                       0
3  Abkhazia  OWID_ABK  1941                       0
4  Abkhazia  OWID_ABK  1942                       0

In [ ]:
dataframe_literacy = pd.read_csv("/content/cross-country-literacy-rates.csv")
print(dataframe_literacy.head())
dataframe_literacy.rename(columns={'Entity': 'Country'}, inplace=True)
dataframe_literacy = dataframe_literacy.drop(columns=['Code'])
dataframe = dataframe.merge(dataframe_literacy, on=['Country', 'Year'], how='left')

        Entity Code  Year  \
0  Afghanistan  AFG  1979
1  Afghanistan  AFG  2011
2  Afghanistan  AFG  2015
3      Albania  ALB  2001
4      Albania  ALB  2008

   Literacy rates (World Bank, CIA World Factbook, and other sources)
0                                          18.157681
1                                          31.741119
2                                          38.168041
3                                          98.712982
4                                          95.938637

In [ ]:
dataframe_military = pd.read_csv("/content/military-expenditure-total.csv")
print(dataframe_military)
dataframe_military.rename(columns={'Entity': 'Country'}, inplace=True)
dataframe_military = dataframe_military.drop(columns=['Code'])
dataframe = dataframe.merge(dataframe_military, on=['Country', 'Year'], how='left')
def scientific_to_decimal(value):
    return '{:.10f}'.format(float(value))
dataframe['military_expenditure'] = dataframe['military_expenditure'].apply(scientific_to_decimal)

print(dataframe)

           Entity Code  Year  military_expenditure
0     Afghanistan  AFG  1970               5373185
1     Afghanistan  AFG  1973               6230685
2     Afghanistan  AFG  1974               6056124
3     Afghanistan  AFG  1975               6357396
4     Afghanistan  AFG  1976               8108200
...           ...  ...   ...                   ...
8273     Zimbabwe  ZWE  2015            1083475614
8274     Zimbabwe  ZWE  2016            1046329810
8275     Zimbabwe  ZWE  2017             986095198
8276     Zimbabwe  ZWE  2018            1100563838
8277     Zimbabwe  ZWE  2019             546939000

[8278 rows x 4 columns]
     iso3c              Country  Rank     Score  Incidents  Fatalities  \
0      IRQ                 Iraq     1  9.599967       1288        2086
1      PAK             Pakistan     2  9.152620        638        1322
2      AFG          Afghanistan     3  9.134265        507        1511
3      SYR                Syria     4  8.238079        168        1014
4      YEM                Yemen     5  8.098513        219         651
...    ...                  ...   ...       ...        ...         ...
1788   TKM         Turkmenistan    93  0.000000          0           0
1789   TLS          Timor-Leste    93  0.000000          0           0
1790   TTO  Trinidad and Tobago    93  0.000000          0           0
1791   ZMB               Zambia    93  0.000000          0           0
1792   ZWE             Zimbabwe    93  0.000000          0           0

      Injuries  Hostages  Year  Population, female (% of total population)  \
0         5050        16  2012                                   50.181076
1         2297       160  2012                                   48.650360
2         2612        67  2012                                   49.455578
3         1833        71  2012                                   49.544518
4          798       121  2012                                   49.384468
...        ...       ...   ...                                         ...
1788         0         0  2022                                         NaN
1789         0         0  2022                                         NaN
1790         0         0  2022                                         NaN
1791         0         0  2022                                         NaN
1792         0         0  2022                                         NaN

      Corruption Perception Index - Transparency International (2018)  \
0                                                  18.0
1                                                  27.0
2                                                   8.0
3                                                  26.0
4                                                  23.0
...                                                 ...
1788                                                NaN
1789                                                NaN
1790                                                NaN
1791                                                NaN
1792                                                NaN

      Net migration rate  armed_forces_share_population  \
0                    NaN                       2.516148
1                    NaN                       0.506087
2                    NaN                       1.085157
3                    NaN                       0.870890
4                    NaN                       0.563474
...                  ...                            ...
1788                 NaN                            NaN
1789                 NaN                            NaN
1790                 NaN                            NaN
1791                 NaN                            NaN
1792                 NaN                            NaN

      nuclear_weapons_status  \
0                        0.0
1                        3.0
2                        0.0
3                        1.0
4                        0.0
...                      ...
1788                     0.0
1789                     NaN
1790                     0.0
1791                     0.0
1792                     0.0

      Literacy rates (World Bank, CIA World Factbook, and other sources)  \
0                                                   NaN
1                                             56.764339
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1788                                                NaN
1789                                                NaN
1790                                                NaN
1791                                                NaN
1792                                                NaN

       military_expenditure
0     4318223308.0000000000
1     6907272813.0000000000
2      196427762.0000000000
3                       nan
4     3167406140.0000000000
...                     ...
1788                    nan
1789                    nan
1790                    nan
1791                    nan
1792                    nan

[1793 rows x 16 columns]

In [ ]:
dataframe_economic_inequality = pd.read_csv("/content/economic-inequality-gini-index.csv")
print(dataframe_economic_inequality.head())
dataframe_economic_inequality.rename(columns={'Entity': 'Country'}, inplace=True)
dataframe_economic_inequality = dataframe_economic_inequality.drop(columns=['Code'])
dataframe = dataframe.merge(dataframe_economic_inequality, on=['Country', 'Year'], how='left')

    Entity Code  Year  Gini coefficient
0  Albania  ALB  1996          0.270103
1  Albania  ALB  2002          0.317390
2  Albania  ALB  2005          0.305957
3  Albania  ALB  2008          0.299847
4  Albania  ALB  2012          0.289605

In [ ]:
dataframe_govtexp_education = pd.read_csv("/content/government-expenditure-on-education-for-selected-countries.csv")
print(dataframe_govtexp_education.head())
dataframe_govtexp_education.rename(columns={'Entity': 'Country'}, inplace=True)
dataframe_govtexp_education = dataframe_govtexp_education.drop(columns=['Code'])
dataframe = dataframe.merge(dataframe_govtexp_education, on=['Country', 'Year'], how='left')

      Entity Code  Year  \
0  Argentina  ARG  1960
1  Argentina  ARG  1965
2  Argentina  ARG  1970
3  Argentina  ARG  1980
4  Argentina  ARG  1990

  Government Education Expenditure 1960-2010 (Szirmai (2015))
0                                                  2
1                                                  3
2                                                2.5
3                                                2.7
4                                                3.4

In [ ]:
dataframe_publicexp_health = pd.read_csv("/content/public-health-expenditure-share-GDP-OWID.csv")
print(dataframe_publicexp_health.head())
dataframe_publicexp_health.rename(columns={'Entity': 'Country'}, inplace=True)
dataframe_publicexp_health = dataframe_publicexp_health.drop(columns=['Code'])
dataframe = dataframe.merge(dataframe_publicexp_health, on=['Country', 'Year'], how='left')
dataframe.to_excel("/content/Global Terrorism Index 2023.xlsx")

    Entity Code  Year  public_health_expenditure_pc_gdp
0  Albania  ALB  2010                             2.442
1  Albania  ALB  2011                             2.387
2  Albania  ALB  2012                             2.474
3  Albania  ALB  2013                             2.605
4  Albania  ALB  2014                             2.617

In [ ]:
dataframe_humanrightsindex = pd.read_csv("/content/human-rights-index-vdem.csv")
print(dataframe_humanrightsindex.head())
dataframe_humanrightsindex.rename(columns={'Entity': 'Country'}, inplace=True)
dataframe_humanrightsindex = dataframe_humanrightsindex.drop(columns=['Code','civ_libs_vdem_high_owid','civ_libs_vdem_low_owid'])
dataframe = dataframe.merge(dataframe_humanrightsindex, on=['Country', 'Year'], how='left')
dataframe.to_excel("/content/Global Terrorism Index 2023.xlsx")

        Entity Code  Year  civ_libs_vdem_owid  civ_libs_vdem_high_owid  \
0  Afghanistan  AFG  1789               0.125                    0.169
1  Afghanistan  AFG  1790               0.125                    0.169
2  Afghanistan  AFG  1791               0.125                    0.169
3  Afghanistan  AFG  1792               0.125                    0.169
4  Afghanistan  AFG  1793               0.125                    0.169

   civ_libs_vdem_low_owid
0                   0.089
1                   0.089
2                   0.089
3                   0.089
4                   0.089

In [ ]:
dataframe_deathsinconflicts = pd.read_csv("/content/deaths-in-armed-conflicts-by-region.csv")
dataframe_deathsinconflicts = dataframe_deathsinconflicts.drop(columns=['Code'])
dataframe_deathsinconflicts.rename(columns={'Entity': 'Country'}, inplace=True)
dataframe = dataframe.merge(dataframe_deathsinconflicts, on=['Country', 'Year'], how='left')
dataframe.to_excel("/content/Global Terrorism Index 2023.xlsx")

In [ ]:
dataframe_electoraldemocracy = pd.read_csv("/content/electoral-democracy-index.csv")
dataframe_electoraldemocracy.rename(columns={'Entity': 'Country'}, inplace=True)
dataframe_electoraldemocracy.rename(columns={'electdem_vdem_owid': 'Electoral_Democracy_Index'}, inplace=True)
dataframe_electoraldemocracy = dataframe_electoraldemocracy.drop(columns=['Code','electdem_vdem_high_owid','electdem_vdem_low_owid'])
dataframe = dataframe.merge(dataframe_electoraldemocracy, on=['Country', 'Year'], how='left')
dataframe.to_excel("/content/Global Terrorism Index 2023.xlsx")

In [ ]:
dataframe_human_dev_index = pd.read_csv("/content/human-development-index.csv")
print(dataframe_human_dev_index.head())
dataframe_human_dev_index.rename(columns={'Entity': 'Country'}, inplace=True)
dataframe_human_dev_index = dataframe_human_dev_index.drop(columns=['Code'])
dataframe = dataframe.merge(dataframe_human_dev_index, on=['Country', 'Year'], how='left')
dataframe.to_excel("/content/Global Terrorism Index 2023.xlsx")

        Entity Code  Year  Human Development Index
0  Afghanistan  AFG  1990                    0.273
1  Afghanistan  AFG  1991                    0.279
2  Afghanistan  AFG  1992                    0.287
3  Afghanistan  AFG  1993                    0.297
4  Afghanistan  AFG  1994                    0.292

In [ ]:
dataframe_researchspending = pd.read_csv("/content/research-spending-gdp.csv")
print(dataframe_researchspending.head())
dataframe_researchspending.rename(columns={'Entity': 'Country'}, inplace=True)
dataframe_researchspending = dataframe_researchspending.drop(columns=['Code'])
dataframe = dataframe.merge(dataframe_researchspending, on=['Country', 'Year'], how='left')
dataframe.to_excel("/content/Global Terrorism Index 2023.xlsx")

    Entity Code  Year  Research and development expenditure (% of GDP)
0  Albania  ALB  2007                                          0.08757
1  Albania  ALB  2008                                          0.15412
2  Algeria  DZA  2001                                          0.23028
3  Algeria  DZA  2002                                          0.36640
4  Algeria  DZA  2003                                          0.19623

In [ ]:
dataframe_urbanruralpop = pd.read_csv("/content/urban-and-rural-population.csv")
print(dataframe_urbanruralpop.head())
dataframe_urbanruralpop.rename(columns={'Entity': 'Country'}, inplace=True)
dataframe_urbanruralpop = dataframe_urbanruralpop.drop(columns=['Code'])
dataframe = dataframe.merge(dataframe_urbanruralpop, on=['Country', 'Year'], how='left')
dataframe.to_excel("/content/Global Terrorism Index 2023.xlsx")

        Entity Code  Year  Urban population  Rural population
0  Afghanistan  AFG  1960            724373         7898093.0
1  Afghanistan  AFG  1961            763336         8026804.0
2  Afghanistan  AFG  1962            805062         8163985.0
3  Afghanistan  AFG  1963            849446         8308019.0
4  Afghanistan  AFG  1964            896820         8458694.0